.chat-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 85vh;
}

.chat-wrapper-content {
  border: 1px solid blue;
  padding: 20px 0 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.chat-wrapper-content .page__text-18-Regular {
  margin-bottom: 15px;
}

.form input {
  min-width: 300px;
}

.footer {
  min-height: 100px;
  border: 1px solid black;
}

.footer-wrapper {
  padding-top: 40px;
}

.sidebar {
  width: 200px;
  border: 1px solid orange;
  overflow: auto;
}

.sidebar-wrapper {
  padding-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidebar-wrapper .page__text-18-Regular {
  margin-bottom: 15px;
}

.header {
  min-height: 50px;
  border: 1px solid orange;
  padding-top: 25px;
}

.header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.header-wrapper__mid .page__text-18-Regular {
  margin: 0 20px;
}

.page a {
  text-decoration: none;
}

.page__text-18-Regular {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: #252525;
}

.page__link {
  color: #252525;
}

.page__btn-1 {
  font-family: Poppins;
  font-weight: 600;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  height: 52px;
  padding: 11px 43px;
  font-size: 20px;
  color: #fff;
  border: transparent;
  background-color: #1E88E5;
  border-radius: 30px;
}